@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

// Variables
$fontfamily: 'Lato', sans-serif;
$fontfamilysecond: 'Source Sans Pro',
sans-serif;
$primary: #4D61FC;
$inactive: #A8B2C9;
$text: #6C7486;
$width: 290px;
$height: 60px;

// Styles
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
    min-height: 100%;
}

* {
    box-sizing: inherit;
    outline: none !important;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    font-family: $fontfamily;
    background: #F5F9FF;
    color: #ADAFB6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontfamilysecond;
    color: $primary;
    font-weight: 300;
    pointer-events: none;
    text-transform: uppercase;
    z-index: -1;
    border-radius: 4px;
    letter-spacing: .1em;
    user-select: none;
    line-height: 20px;
    margin: 0;
}

.text-center {
    text-align: center;
}

.d-inline-block {
    display: inline-block !important;
}

.align-middle {
    vertical-align: middle !important;
}

.align-items-center{
    align-items: center !important;
}

.justify-center{
    justify-content: center !important;
}

.age-info{
    position: absolute;
    color: $inactive;
    font-size: 14px;
    bottom: 15px;
    right: 15px;
}

.calc__heading{
    margin-top: 1rem;
}

.calc__data{
    align-items: center;
    justify-content: center;
}

.form__input,
.form__group {
    margin: 1rem 0;
    position: relative;
}

.form__info{
    margin: 2rem 0;
}

.form__convert{ 
    margin: 1.25rem 0;

    svg{
        font-size: 20px;
    }
}

.form__button{
    margin: 3rem 0;
}

.info-badge{
    font-family: Lato,
    sans-serif;
    border: 2px solid transparent;
    padding: 4px 8px;
    height: 30px;
    min-height: 30px;
    color: $text;
    font-size: 14px;
    transition: color .2s ease,
    background-color .2s ease,
    border-color .2s ease,
    box-shadow .2s ease,
    transform .2s ease;
}

.select-input{
    position: absolute;
    top: 7px;
    right: 12px;
    font-family: Lato,
    sans-serif;
    background-color: #4d61fc;
    color: #fff;
    overflow: hidden;
    display: inline-block;
    border: 2px solid transparent;
    height: 30px;
    min-width: 60px;
    min-height: 30px;
    padding: 0 8px 2px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, .1),
    0 5px 15px 0 rgba(37, 44, 97, .05);
    font-size: 14px;
    background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 24 24'><path fill='#fff' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") $primary;
    background-position: 98% 50%;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: color .2s ease,
    background-color .2s ease,
    border-color .2s ease,
    box-shadow .2s ease,
    transform .2s ease;
}

.badge-input{
    position: absolute;
    top: 7px;
    right: 12px;
    font-family: Lato,
    sans-serif;
    background-color: #4d61fc;
    color: #fff;
    overflow: hidden;
    display: inline-block;
    border: 2px solid transparent;
    height: 30px;
    min-width: 60px;
    min-height: 30px;
    padding: 4px 8px 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, .1),
    0 5px 15px 0 rgba(37, 44, 97, .05);
    font-size: 14px;
}

.text-input,
.number-input{
    font-family: $fontfamily;
    width: 100%;
    border-radius: 4px;
    padding: 0 77px 0 20px;
    height: 44px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.1),
    0 5px 15px 0 rgba(37, 44, 97, 0.05);
    border: 1px solid #fff;
    font-size: 14px;
    transition: border-color 0.2s ease,
    background-color 0.2s ease;

    &:focus {
        border-color: #4D61FC;
    }

    &:read-only{
        border-color: #fff !important;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.disabled{
    pointer-events: none;
}

.tab-content {
    display: none;
    padding: 6px 0;
}

.tabbar-wrapper{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    .tabbar {
        border-radius: 4px;
        width: $width;
        background: #fff;
        box-shadow: 0 4px 12px -1px rgba(#121621, .1);
        // box-shadow: 0 8px 20px -1px rgba(#121621, .3);

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            position: relative;
            z-index: 1;

            li {
                flex-grow: 1;

                &:first-child {
                    a {
                        border-radius: 4px 0 0 4px;
                    }
                }

                &:last-child {
                    a {
                        border-radius: 0 4px 4px 0;
                    }
                }

                a {
                    cursor: pointer;
                    display: block;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: initial;
                    user-select: none;
                    height: $height;
                    background: #fff;
                    overflow: hidden;
                    height: 60px;

                    svg {
                        width: 18px;
                        height: 18px;
                        display: block;
                        opacity: 1;
                        transition: transform .4s ease, opacity .4s ease;
                        pointer-events: none;
                        transform-origin: 50% 50%;
                        will-change: transform, fill;
                        transform: scale(1) translate3d(0, 0, 0);
                        
                        path{
                            fill: $inactive;
                            stroke: $inactive;
                            transition-duration: 0.4s,
                        }
                    }

                    span {
                        font-family: $fontfamilysecond;
                        position: absolute;
                        display: block;
                        left: 0;
                        right: 0;
                        top: 0;
                        text-align: center;
                        font-size: 9px;
                        font-weight: 500; 
                        pointer-events: none;
                        text-transform: uppercase;     
                        border-radius: 4px;
                        letter-spacing: .1em;
                        user-select: none;
                        line-height: 20px;
                        z-index: 1;
                        transition: transform .4s ease 0s;
                        transform: translate(0, -100%);
                        background: #fff;
                        color: $inactive;
                    }

                    &.pressed {
                        svg {
                            transform: translateY(5px) scale(.85);

                            path {
                                fill: $primary !important;
                            }

                        }

                        span {
                            color: $primary;
                            transition-delay: .3s;
                            transform: translate(0, 7px);
                        }
                    }

                    &.active {
                        svg {
                            opacity: 1;
                        }

                        path {
                            fill: $primary !important;
                        }
                    }

                    &:hover{
                        svg{
                            path{
                                fill: $text;
                            }
                        }

                        span{
                            color: $text;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 776px) {
    .button{
        display: block;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .age-info {
        display: none;
    }
}

/*
* CSS grid
*/
.content {
    padding-top: 25px;
}

.content-half {
    padding-top: 15px;
}

.con {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    // padding-right: 15px;
    // padding-left: 15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .modal-content {
        margin-left: 15px;
        margin-right: 15px;
    }

    .col-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}